<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{baby.baby_name}}</title>
</head>
<body>
    <div class="content">
        <div class="overflow">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Name</th>
                        <td>{{baby.baby_name}}</td>
                    </tr>
                    <tr>
                        <th>Stage</th>
                        <td>{{baby.stage}}</td>
                    </tr>
                    <tr>
                        <th>Attribute</th>
                        <td>{{baby.attribute}}</td>
                    </tr>
                    <tr>
                        <th>Type</th>
                        <td>{{baby.typ}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h3>Description</h3>
        <div class="info">
            <p>{{baby.baby_description}}</p>
        </div>
        {% if evolution_list %}
            <div class="evolution">
                <h3>Evolves to</h3>
                <div class="overflow">
                    <table class="table">
                      <thead>
                          <tr>
                              <th>Name</th>
                              <th>Stage</th>
                              <th>Attribute</th>
                              <th>Type</th>
                          </tr>
                      </thead>
                        {% for evolution in evolution_list %}
                        <tbody>
                        <td><a href="{% url 'monsters:training' evolution.training.id %}">{{evolution.training}}</a></td>
                        <td>{{evolution.training.stage}}</td>
                        <td>{{evolution.training.attribute}}</td>
                        <td>{{evolution.training.typ}}</td>
                        </tbody> 
                        {% endfor %}
                    </table>
                </div> 
            </div> 
        {% endif %}
        <div class="button">
            <a href="{% url 'monsters:index'%}"><button>Return to index</button></a>
        </div>
    </div>
</body>
</html>